.DS_Store
node_modules/
.vscode
vue-socketiozip
.vscode-janus-debug
ChatFicticioNB.docx
ProblemasSockets.docx
ProblemasSockets.txt
UC-J3N5d7KT.jpg
UC-J3N5d7KT.pdf
vuesocketProblema.png
vuesocketProblema02.png
vuesocketProblema03.png
